<div class="intro-section">
    <h1>Proč?</h1>
    <p>
        Znáš to, narodí se ti dítě 👶 a svět se obrátí vzhůru nohama 🙃. Pomalu od šestého měsíce začínáš s příkrmy a příprava jídla může být stresující 😨. Na internetu je spousta protichůdných rad a od svých rodičů slyšíš, že dítě by mělo jíst vícéměně jen mrkvičku a brambor.
    </p>
    <p>
        Řekli jsme si, že by bylo skvělé mít apku 📱🙂, která by nám ulehčila život. Hledali jsme něco vhodného, ale nenašli jsme nic co by nám vyhovovalo. Nakonec jsme se rozhodli jít vlastní cestou. Zjistili jsme, že nejsme sami, kdo řeší podobné problémy, proto jsme vytvořili tuto stránku.
    </p>
    <p>
        ​Chceme znát tvůj názor na to, jaké funkce by měla aplikace mít. Pomoz nám získat zpětnou vazbu, aby aplikace splňovala i tvé potřeby. Tvá zpětná vazba je pro nás velmi důležitá!
    </p>
    <div class="questionary">
        <p>
            Vyplnění dotazníku ti zabere méně jak 5 minut. Děkujeme 🙏.
        </p>
        <p>
            <a href="https://forms.gle/nWvPCJVqhfMjg86r6" class="button">Vyplnit dotazník</a>
        </p>
    </div>
    <p>
        Aplikaci jsme nazvali <b>Nomlify</b> [můžeš číst: nomli·fáj 🙂]. Jedná se o mobilní platformu pro správu a sdílení receptů.
    </p>
</div>